body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background: #001821;
  color: #fff;
  line-height: 1.42;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.main-page-wrapper {
  background: url("./img/background/1.png") center top no-repeat, url("./img/background/2.png") right bottom 165px no-repeat;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 1140px;
  position: relative;
}

.hero {
  margin-bottom: 246px;
}

.header {
  height: 128px;
  margin-bottom: 69px;
}

.header .container {
  position: relative;
}

.logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
}

.menu {
  position: absolute;
  top: 40px;
  left: 165px;
}

.contacts {
  position: absolute;
  top: 28px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-decoration: none;
}

.menu__link:hover {
  color: #da0100;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
}

.contacts__dropdown-title {
  line-height: 4px;
  font-size: 13px;
  color: #98a4a8;
  text-decoration: underline;
}

.contacts__dropdown-title:hover {
  color: #fff;
}

.hero__text-section {
  width: 520px;
}

.hero__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 28px;
}

.hero__subtitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 34px;
}

.btn {
  background: #f5170e;
  border-radius: 35px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 18px 40px;
  font-size: 14px;
  display: inline-block;
}

.btn:hover {
  background: #da0100;
}

.page__content-title {
  font-weight: bold;
  line-height: 49px;
  font-size: 36px;
  position: relative;
  margin-bottom: 31px;
}

.page__content-title::after {
  content: url(img/flame.png);
  position: absolute;
  margin-left: 12px;
  margin-top: 4px;
}

.last__tours-item {
  display: inline-block;
  width: 362px;
  background-color: #fff;
  margin-right: 23px;
  border-radius: 5px;
  margin-bottom: 127px;
}

.last__tours-item:last-child {
  margin-right: 0;
}

.last__tours-content {
  width: 320px;
  margin: 0 auto;
}

.last__tours-logo {
  margin-bottom: 33px;
}

.last__tours-item_title {
  color: #000;
  font-weight: bold;
  line-height: 27px;
  font-size: 24px;
  margin-bottom: 26px;
}

.last__tours-info_about {
  margin-bottom: 25px;
}

.last__tours-date {
  display: inline-block;
  color: #666666;
  font-size: 17px;
  line-height: 21.79px;
  position: relative;
  padding-left: 43px;
}

.last__tours-date::before {
  content: url(img/calendar.png);
  margin: 0 7px;
  display: inline-block;
  top: 50%;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
}

.last__tours-food {
  display: inline-block;
  color: #666666;
  font-size: 16px;
  line-height: 21.79px;
  position: relative;
  padding-left: 67px;
}

.last__tours-food::before {
  content: url(img/meal.png);
  margin: 0 9px;
  display: inline-block;
  top: 50%;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  margin-left: 24px;
}

.last__tours-about {
  color: #303030;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.btn__view {
  background: #f5170e;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 17px 30px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 26px;
  border: 1px solid #f5170e;
  box-sizing: border-box;
}

.btn__view:hover {
  background: #fff;
  color: #f5170e;
}

.btn__view--active,
.btn__view:hover {
  background: #fff;
  color: #f5170e;
}

.news {
  margin-bottom: 143px;
}

.news__offer {
  margin-bottom: 51px;
}

.news__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 49px;
}

.news__offer-child {
  display: inline-block;
}

.news__offer-child:first-child {
  margin-right: 22px;
}

.news__logo {
  position: relative;
}

.news__offer-text {
  position: absolute;
  top: -126px;
  left: 28px;
}

.news__date {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.news__slogan {
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
}

.news__text {
  font-size: 16px;
}

.news__list {
  text-align: center;
  vertical-align: middle;
}

.page-number {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-right: 26px;
  margin-left: 8px;
}

.news__list-number {
  display: inline-block;
}

.news__list-items {
  display: inline-block;
  border-radius: 30px;
}

.news__list-items__link {
  display: inline-block;
  width: 32px;
  line-height: 32px;
  border-radius: 50%;
  font-weight: bold;
  text-decoration: none;
}

.news__list-items:hover {
  background: #fff;
  color: #f5170e;
}

.active,
.news__list-items:hover {
  background: #fff;
  color: #f5170e;
}

.about-us {
  margin-bottom: 97px;
}

.about__content {
  width: 1140px;
  position: relative;
}

.about__gates {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.about__info {
  position: absolute;
  display: inline-block;
  z-index: 30;
  right: 0;
  top: 97px;
}

.about__info-content {
  position: relative;
  z-index: 10;
  display: inline-block;
  right: 0;
  top: 97x;
}

.about__mountains-content {
  position: absolute;
  width: 202px;
  top: 70px;
  left: 81px;
  z-index: 50;
}

.about__content-title {
  font-weight: bold;
  color: #000;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 40px;
}

.about__content-text {
  margin: 0;
  width: 500px;
  height: 135px;
  line-height: 27px;
  font-size: 16px;
  color: #060606;
  margin-bottom: 43px;
}

.footer-block {
  height: 146px;
}

.footer-block .container {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__logo {
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
}

.footer__menu {
  position: absolute;
  top: 59px;
  left: 165px;
}

.footer__contacts {
  position: absolute;
  top: 42px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.footer__menu-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.footer__menu-item:last-child {
  margin-right: 0;
}

.footer__menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-decoration: none;
}

.footer__menu-link:hover {
  color: #da0100;
}

.footer__socials {
  top: 49px;
  right: 265px;
  display: inline-block;
  position: absolute;
}

.footer__socials-list {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.footer__socials-list:last-child {
  margin-right: 0;
}

.footer__contacts-dropdown__title {
  line-height: 20px;
  font-size: 11px;
  color: #98a4a8;
}

.footer__contacts-dropdown__title:hover {
  color: #fff;
}

.footer__contacts-phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
}