html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background: #fff;
  color: #fff;
  line-height: 1.42;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-width: 1140px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.main-page-wrapper {
  background: url("/img/background/headline.png") center top no-repeat;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 1140px;
  position: relative;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header__wrapper {
  display: inline-flex;
  min-width: 428px;
  justify-content: space-between;
}

.header {
  height: 128px;
  margin-bottom: 40px;
}

.header .container {
  justify-content: space-between;
  display: flex;
  top: 29px;
}

.menu__list {
  display: flex;
  min-width: 264px;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.menu__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-decoration: none;
}

.menu__link:hover {
  color: #da0100;
}

.contacts {
  font-style: normal;
  text-align: right;
  align-self: center;
  min-height: 44px;
  position: relative;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 34px;
}

.contacts__dropdown-title {
  line-height: 4px;
  font-size: 13px;
  color: #98a4a8;
  text-decoration: underline;
}

.contacts__dropdown-title:hover {
  color: #fff;
}

.contacts:hover .header__drop-down {
  right: 0px;
  opacity: 0.8;
}

.header__drop-down {
  opacity: 0;
  transition: opacity 0.2s;
  right: -9999px;
  top: 120%;
  position: absolute;
  width: 160px;
  height: 70px;
  background-color: #ededed;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
}

.header__drop-down::before {
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  top: -14px;
  left: 0;
  right: 0;
}

.header__drop-down::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  left: 100px;
  bottom: 63px;
  background-color: #ededed;
  opacity: 1;
}

.header__drop-down_text {
  text-align: start;
  top: 50%;
  left: 50%;
  transform: translate(10%, 30%);
  width: 130px;
  height: 42px;
  color: #1e1f20;
}

.header__drop-down_text-work {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
}

.header__drop-down_text-lunch {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
}

.hero__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 103.5px;
}

.hero__pages {
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
  color: #9a9a9a;
  margin-bottom: 118.5px;
}

.hero__pages-main {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14px;
}

.hero__pages-main:hover {
  color: #da0100;
}

.hero__pages-slash {
  margin: 0 5px;
  font-size: 14px;
  line-height: 20px;
}

.hero__pages-services {
  font-weight: bold;
  font-family: "Roboto", Helvetica, sans-serif;
}

.hero__pages-services:hover {
  color: #da0100;
}
