.partners {
  background: #f4f5f5;
  padding-bottom: 46px;
}

.partners__title {
  padding-top: 87px;
  font-size: 48px;
  font-weight: bold;
  line-height: 65.37px;
  color: #1a1b1e;
  margin-bottom: 81px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__list-item {
  min-width: 260px;
  min-height: 67px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__list-item:nth-child(4n + 1) {
  margin-left: 0px;
  justify-content: flex-start;
}

.partners__list-item:nth-child(4n + 4) {
  margin-left: 0px;
  justify-content: flex-end;
}

.partners__list-link {
  text-decoration: none;
  /* display: flex;
  width: 270px;
  height: 100px;
  align-items: center;
  justify-content: center; */
}

.partners__list-item__img {
  max-width: 100%;
}
